@font-face {
    font-family: AGaramondPro;
    src: url(fonts/AGaramondPro-Bold.otf);
}
body{
    font-family: AGaramondPro;

}
.external-wrapper{
    display:table;
    width:100%;
}
.inner-wrapper{
    display: table-cell;
    vertical-align: middle;
}
.section{
    display: table;
    text-align:center;
    width:98vw;
}
.middle{
    display:table-cell;
    height:50vh;
    vertical-align: middle;
}
.top p, .bottom{
    font-size:2.5vh;
    letter-spacing: 0.3vw;
}

.middle .lines{
    margin:0vh 5vw 0 5vw;
    padding-top:30px;
    position:relative;
    top:2vh;
}
.middle .work, .middle .contact{
    letter-spacing:1vw;
    font-size:2.7vh;
}
.middle span a{
    text-decoration:none;
    color:black;
}
.figures img{
    width:1.2vw;
    height:1.2vw;
}
.figures .row img{
    /* margin-left:-1.3vw; */
}

.figures img:nth-of-type(1){
    margin-right:0.4vw;
    margin-top:0.4vw;
}
.apple{
    width:1.3vw;
    height:1.3vw;
}
.figures-wrapper{
    width:5vw;
    display:inline-block;
}
.apple{
    margin-left:1vw;
}
.lines img{
    width:6vw;
    height:6vh;
}
.bottom .plus {
    width: 6vw;
    height: 6vh;
    margin: 0px 0vw;
    position: relative;
    top: 2vh;
}

@media(max-width:576px){
    .section:nth-of-type(1){
        display:none;
    }
    .section:nth-of-type(2){
        margin-top:10vh;
        height:50vh;
    }
    .figures img{
        width:4vw;
        height:4vw;
    }
    .figures .row img{
        margin-left:-5vw;
    }
    .figures img:nth-of-type(1){
        margin-right:1vw;
        margin-top:1vw;
    }
    .figures-wrapper, .lines{
        width:100%;
        display:block;
        margin-left:0;
        margin-right:0;
    }
    .lines img{
        width:11vw;
        height:11vw;
    }
    .middle .lines{
        margin:8vh 0vw 8vh 0vw;
        padding-top:0px;
    }
    .middle .work, .middle .contact{
        letter-spacing:4vw;
        font-size:2.5vh;
    }
    .apple{
        width:5vw;
        height:5vw;
    }
 
    .bottom{
        vertical-align: bottom;
        font-size:2.3vh;
    }
    .three{
        position: absolute;
        bottom:7vh;
    }
    .bottom .plus{
        width: 10vw;
        height: 10vh;
        margin: 0px 4vw;
        position: relative;
        top: 4vh;
    }
    .bottom span:nth-of-type(1){
        float:left;
        width:40%;
        text-align:right;
        position: relative;
        top:7.5vh;
    }
    .bottom span:nth-of-type(2){
        float:left;
        width:20%;
        text-align:center;
    }
    .bottom span:nth-of-type(3){
        float:left;
        width:40%;
        text-align:left;
        position: relative;
        top:7.5vh;
    }
}
@media(min-width:576px) and (max-width:1025px){
    .section{
        height:15vh;
    }
    .section:nth-of-type(2){
        margin-top:0vh;
    }
    .three{
        position: absolute;
        bottom:0vh;
    }
    .lines{
        width:15vw;
        display:inline-block;
    }
    .middle .lines{
        margin:8vh 0vw 8vh 0vw;
        padding-top:0px;
    }
    .figures-wrapper, .lines{
        width:100%;
        display:block;
        margin-left:0;
        margin-right:0;
    }
    .figures img{
        width:4vw;
        height:4vw;
    }
    .figures .row img{
        margin-left:-4.4vw;
    }
    .figures img:nth-of-type(1){
        margin-right:1vw;
        margin-top:1vw;
    }
    .apple{
        width:4vw;
        height:4vw;
    }
 
    .bottom{
        font-size:2.3vh;
    }
    
    
    .bottom .plus{
        width: 10vw;
        height: 10vh;
        margin: 0px 4vw;
        position: relative;
        top: 4vh;
    }
}
@media(min-width:1025px) {

 
    .section:nth-of-type(2){
        margin-top:-3vh;
        margin-bottom:-3vh;
    }
    .middle .lines:nth-of-type(1){
        margin:0vh 5vw 0vh 8vw;
    }
    .middle .lines:nth-of-type(2){
        margin:0vh 5vw 0vh 5vw;
    }
   

    .top p, .bottom{
        font-size:2vh;
        letter-spacing: 0.3vw;
    }
    .figures-wrapper{
        position:relative;
        top:1.2vw;
        text-align:left;
    }
    .inner-wrapper{
        height:96vh;
    }

}
@media(min-width:2560px){
    .figures .rect{
        width:1.15vw;
        height:1.15vw;
    }
    .apple{
        width:1.3vw;
        height:1.3vw;
    }
}
